extends ../layout

block content
  h2 2018 FLGBTQC Minutes
  
  p: a(href='https://www.dropbox.com/sh/k6sfvwy3rnwwyka/AADz7yJzYAkpvg07k305i6ONa?dl=0') Click here to access password-protected 2018 FLGBTQC minutes.
