extends ../layout

block content
  +image_header( header_image, "A few faces of FLGBTQC" )

  section.content
    .content-section
      h1 Making a Donation
      p We gratefully thank you for supporting FLGBTQC. 
      p You can reach our treasurer by email <a href="mailto:treasurer@flgbtqc.org">here</a>.
      p Checks may be sent to the treasurer:
      p 
        | FLGBTQC<br>
        | c/o Clint Weimeister<br>
        | 1841 Sheridan St<br>
        | Port Townsend, WA 98368
      p Make checks payable to FLGBTQC.
