extends ../layout

block content
  h2 FLGBTQC Epistles <strong>[IN PROGRESS]</strong>

  p This page should reference the complete list of FLGBTQC Epistles. If you know of an Epistle not listed here, please alert the <a href="mailto:website@flgbtqc.org">website editors</a>.
  
  p Click on a name below to see that epistle, or click the "View all" button to see all of them together.

  btn(class='btn btn-sm btn-warning' id='view-all') View all
  
  hr

  .minute
    h6 2018: Epistle from the 2018 FGC Gathering held in Toledo, OH <span class='close hidden'>x</span>

  .minute
    h6 2015: Epistle from the 2015 Midwinter Gathering held in Burlington, NJ <span class='close hidden'>x</span>

  .minute
    h6 2014: Epistle from the 2014 Midwinter Gathering held near Portland, Oregon <span class='close hidden'>x</span>

  .minute
    h6 2013: Epistle crafted at the 2013 Midwinter Gathering held near Honesdale, Pennsylvania <span class='close hidden'>x</span>

  .minute
    h6 2011: Epistle crafted at the 2011 Midwinter Gathering held near Greensboro, North Carolina <span class='close hidden'>x</span>

  .minute
    h6 2009: Epistle crafted at the 2009 Midwinter Gathering held near Mollala, Oregon <span class='close hidden'>x</span>

  .minute
    h6 2007: Epistle crafted at the 2007 Midwinter Gathering held near Greensboro, North Carolina <span class='close hidden'>x</span>

  .minute
    h6 2004: Epistle crafted at the 2004 Midwinter Gathering held near Burlington, New Jersey <span class='close hidden'>x</span>
