extends layout

block content
  +image_header( header_image, "A few faces of FLGBTQC" )

  section.content
    .content-section
      h1 Contacting us
      p Our clerks are Rebecca Sullivan and Robb Yurisko. You can email them at <a href="mailto:clerks@flgbtqc.org">clerks@flgbtqc.org</a>.
      p Our newsletter editor is Su Penn, who can be reached at <a href="mailto:newsletter_editor@flgbtqc.org">newsletter_editor@flgbtqc.org</a>.
      p Our treasurer is Lewis Steller, who can be emailed at <a href="mailto:treasurer@flgbtqc.org">treasurer@flgbtqc.org</a>.
      p Our email list manager is Rebecca Sullivan. You can contact her at <a href="mailto:email_list_manager@flgbtqc.org">email_list_manager@flgbtqc.org</a>.
      p Our website manager is Mike Goren, who can be reached at <a href="mailto:website@flgbtqc.org">website@flgbtqc.org</a>.
