extends layout

block content
  +image_header( "http://dl.dropboxusercontent.com/s/eaoko7i6aucw79k/pic11.jpg", "A few faces of FLGBTQC" )

  section.content
    .content-section
      h1 Gatherings
      p Twice a year, Friends for Lesbian, Gay, Bisexual, and Transgender Concerns gather to worship, conduct business, pray, and play. In July, our numbers are large, and we are a visible and valued presence at the Friends General Conference Gathering. We are a community within a community there, worshiping together daily but dispersing throughout the Gathering at the rise of Meeting.
      p Each February, we meet for a long weekend dedicated to FLGBTQC work and play. Our numbers are often smaller, from 100 to 200, and we retreat together to attend to old relationships and deepen new ones.

    .content-section
      h6 Mid-Winter Gathering
      p Mid-Winter Gathering is held over the long weekend surrounding U.S. President's Day. The 2018 Midwinter Gathering was held at Camp Young Judaea near Austin, Texas. More information is available <a href="https://sites.google.com/view/midwinter-gathering-2018/home" target=_blank>here</a>.

    .content-section
      h6 Recent Mid-Winter Gathering Locations
      ul.list-unstyled
        li 2018 - Austin, TX
        li 2017 - Portland, OR
        li 2015 - Burlington, NJ
        li 2014 - Portland, OR
        li 2013 - Honesdale, PA
        li 2012 - Milwaukee, WI
        li 2011 - Greensboro, NC
        li 2010 - Garrison, NY
        li 2009 - Mollala, OR
        li 2008 - Maple Lake, MN
        li 2007 - Greensboro, NC
        li 2006 - Fenton, MI
        li 2005 - Abiquiu, NM
        li 2004 - Burlington, NJ
        li 2003 - Abiquiu, NM

    .content-section
      h6 Summer Gathering at FGC
      p Summer Gathering is a week-long event held around the 4th of July. The 2019 <a href="https://www.fgcquaker.org/connect/gathering" target=_blank>FGC Gathering</a> will be in Grinnell, Iowa.
      
