extends layout

block content
  header
    .photos
      figure
        img(src='/images/pic11.jpg' alt='A few faces of FLGBTQC')
        figcaption
          p
            strong
              em Friends for Lesbian, Gay, Bisexual, Transgender, and Queer Concerns 
            | is a North American Quaker faith community that affirms that of God in all people. Gathering twice yearly for worship and play, we draw sustenance from each other and from the Spirit for our work and life in the world. We are learning that radical inclusion and radical love bring further light to Quaker testimony and life. 
            a(href='/about') [More]
