extends layout

block content
  +image_header( header_image, "A few faces of FLGBTQC" )
    p <strong><em>Friends for Lesbian, Gay, Bisexual, Transgender, and Queer Concerns</em></strong> is a North American Quaker faith community that affirms that of God in all people. Gathering twice yearly for worship and play, we draw sustenance from each other and from the Spirit for our work and life in the world. We are learning that radical inclusion and radical love bring further light to Quaker testimony and life. <a href='/about'>[More]</a>
      
  section.content
    .content-section
      h1 Gatherings

      p The next gathering where FLGBTQC will have a presence will be the 2020 FGC Virtual Gathering. We will be hosting digital worship and cabaret.
      p We hope to be together again at the 2021 FGC Gathering in Radford, Virginia from June 27 -July 3, 2020. All are welcome to attend.

    .content-section
      h1 Outreach and Resources
      p We have an active <a href="/resources#listserv">email list</a>, for all who have come to our Gatherings. Contact the <a href="mailto:email_list_manager@flgbtqc.org">Email List Manager</a> for more information.
      p We are in the process of launching an <a href="/resources#newsletter">electronic newsletter</a>. Look for more information about this in the Fall of 2019.
      p We have produced a <a href="/resources#pamphlet">pamphlet</a> about FLGBTQC and our work in the world.
      p We are collecting <a href="/resources#marriageminutes">Marriage Minutes</a> written by Quaker Meetings affirming same-sex Quaker marriages and other commitment ceremonies.  If your Meeting has minuted support for same-sex Quaker marriages but you are not included on this list, please contact the <a href="mailto:website@flgbtqc.org">Web Site Manager</a>. These minutes have been included in amicus briefs for several court cases.  We try to keep them as up-to-date as possible.
      p We are collecting <a href="/resources#transminutes">Minutes that specifically welcome and affirm transgender people</a> on a new page on our web site.  We ask that minutes included on this page be <strong>primarily concerned with transgender inclusion</strong>.  We are also collecting minutes that more generally affirm lesbian, gay, bisexual, transgender, and queer people and will be including a new page on our site for those affirmations.  Please contact the <a href="mailto:clerks@flgbtqc.org">Clerks</a> for more information.
      
    .content-section
      h1 Donations
      p FLGBTQC appreciates donations to support our community.  We accept donations <a href="/resources/donate">by mail</a>.
      p This document summarizes some of the important elements of the Leading that shapes FLGBTQC and asks each of us to consider thoughtfully several ways to support the Leading &mdash; including financial gifts. [<a href="docs/donate/2009AppealActionFinances.pdf" target=_blank>PDF</a>, <a href="docs/donate/2009AppealActionFinances.doc">DOC</a>]
      p This document is a template you could adapt and use to ask your Meeting to consider supporting FLGBTQC. Many Meetings so approached are touched to be able to support an organization important to the spiritual journey of a member. [<a href="docs/donate/2009MeetingRequest.pdf" target=_blank>PDF</a>, <a href="docs/donate/2009MeetingRequest.doc">DOC</a>]
