extends layout

block content
  section.content
    .content-section
      h1 Mid-winter Gathering 2021
      p Though we are unable to gather this year in person, we hope that offering a playful, open virtual space to connect with each other can be a source of joy in challenging times. Our Mid-Winter Gathering will take place via Zoom primarily on the weekend of February 14th/15th, 2021, with some events also occurring the weekend of February 7th/8th and 20th/21st. This event is completely free. A draft schedule is available here: <a href="http://bit.ly/m-w-schedule">http://bit.ly/m-w-schedule</a>
      p If you are interested in joining us for worship, fellowship, and connection, we encourage you to register for this event using this link: <a href="http://bit.ly/m-w-registration">http://bit.ly/m-w-registration</a>
      p We are also seeking Friends to help create many of the spaces in our weekend possible by acting as leaders for groups or providing support as Zoom hosts (we can provide a Zoom account). If you are able to volunteer for those roles, use these links to let us know and sign up for a spot using these links:
      p Helping to lead/facilitate an interest group, getting-to-know-you time, or unstructured space for Friends with a shared identity or region: <a href="http://bit.ly/m-w-volunteer">http://bit.ly/m-w-volunteer</a>
      p Helping with Zoom hosting: <a href="http://bit.ly/m-w-zoomhost">http://bit.ly/m-w-zoomhost</a>
      p Have a question about the event? Email Lewis Steller at treasurer@flgbtqc.org
