extends layout

block content
  +image_header( "http://dl.dropboxusercontent.com/s/eaoko7i6aucw79k/pic11.jpg", "A few faces of FLGBTQC" )

  section.content
    .content-section
      h1(id="epistles") Epistles
      p In the Quaker tradition, an epistle is a letter of greeting or a specific message generally crafted in a Yearly Meeting session and sent to other Yearly Meetings. The FLGBTQC faith community often drafts epistles during our twice-yearly gatherings and distributes them widely to Yearly Meetings and other groups around the world.
      p: strong [INSERT EPISTLES HERE]

    .content-section
      h1(id="marriageminutes") Collection of Marriage Minutes
      p These minutes regarding same-sex marriages and other committment ceremonies have been collected by members of the FLGBTQC faith community. If you know of additional minutes you would like to see added, please email them to the <a href="mailto:website@flgbtqc.org">website editor</a>.
      a(href="/resources/marriageminutes") View Collection of Marriage Minutes
      
    .content-section
      h1(id="transminutes") Collection of Minutes in Support of Transgender Concerns
      p These are minutes welcoming and affirming transgender people. Friends are encouraged to contact Meetings, and to send information about Meetings which have passed such minutes already. It is our hope that this page will serve as a witness to the growing tradition of Friends Meetings doing the inner work to create welcoming communities for seekers of all genders and publicly identifying that they have done so.
      a(href="/resources/transminutes") View Minutes in Support of Transgender Concerns
      
    .content-section
      h1(id="newsletter") Newsletter
      p We are relaunching an electronic newsletter with the intention of creating Fall and Spring editions. The newsletter editor is collecting material now, hoping to publish by October 15th 2018.
      p Contributions are welcome! We welcome plain (unformatted) electronic submissions of writing, art, and photographs (photographers: please be sure that subjects in your photos have given permission for their images to be published here). Note that we do not print ads or classified ads. Send electronic sumissions to the <a href="mailto:newsletter_editor@flgbtqc.org">newsletter editor</a>.
      p <strong>Subscribing to the electronic newsletter:</strong> Sign up on <a href="https://goo.gl/forms/6MaDrZBk9f9DhXow2" target=_blank>this form</a> to receive future electronic newsletter mailings.

    .content-section
      h1(id="pamphlet") Pamphlet
      p This pamphlet was last updated June 2014. Please send us feedback, especially comments from people who aren't already familiar with us. If you are able, please print on purple paper for consistency of appearance.
      p 
        <a href="docs/pamphlet/FLGBTQC-Pamphlet-2014-06.pdf" target=_blank>PDF format</a>: ready to print without customization (two-sided)
        <br>
        <a href="docs/pamphlet/FLGBTQC-Pamphlet-2014-06.doc">Word format</a>: includes a template for customizing for a Meeting, School or Quaker organization


    .content-section
      h1(id="listserv") Email List
      p If you are known to FLGBTQC (you have been to one of our Gatherings), you can email the <a href="mailto:email_list_manager@flgbtqc.org">list manager</a> to be added to our email list. It averages 3-4 emails a day.
      p From our <a href="/resources/listfaq">Email List Frequently Asked Questions</a>:
      p: em "This [email list] is a way for FLGBTQC Friends and supporters to stay in touch with each other between gatherings. It is, to use John Calvi's analogy, a way for us to gather at the community store to exchange news, gossip, spiritual journeys, ask for prayers and guidance, and to do FLGBTQC business in an informal way."</em>
      p: em "Think of this list as a form of Quaker dialogue. We do not debate here. Most of the things you post should clearly communicate who *you* are... share what has been true for you, with as much personal detail as you have the courage to muster." </em>

    .content-section
      h1(id="eachofus") Each of Us Inevitable
      p <em><a href="/resources/each_of_us_inevitable">Each of Us Inevitable</a></em> is a collection of some keynote addresses given at FLGC Mid-Winter and other gatherings between 1977 and 1993. The speakers discuss coming to terms with one's identity and direction. The collection of talks was edited by Robert Leuze. A newly expanded 2nd edition is available in print from the <a class="content" target="_BLANK" href="https://quakerbooks.org/products/each-of-us-inevitable-4185">FGC Bookstore</a> and from <a class="content" target="_blank" href="https://pendlehill.org/explore/pendle-hill-bookstore/" target=_blank>Pendle Hill</a>.
